{% extends 'catalog/base_product.html' %}

{% load image_tag %}

{% block content %}
{% for object in object_list %}
<div class="col">
    <div class="card shadow-sm">
        <div class="card-body">
            <h4><p class="card-text">{{ object.name }} </p></h4>
            <img src="{% mymedia object.image %}" class="rounded mx-auto d-block">
            <p class="card-text">Стоимость: {{ object.price }} р</p>
            <p class="card-text">Категория: {{ object.category }} </p>
            <p class="card-text">Описание: {{ object.description | truncatechars:100}}</p>
            <a href="{% url 'catalog:product_pk' object.pk %}">Подробнее</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}