{% block menu %}
<div class="row">
    <div class="col-sm-4 offset-md-1 py-4">
        <h4>Меню</h4>
        <nav class="ms-5">
            <li><a class="p-2 btn btn-outline-primary" href="/">Каталог</a></li>
            <li><a class="p-2 btn btn-outline-primary" href="/contacts/">Контакты</a></li>
            <li><a class="p-2 btn btn-outline-primary" href="{% url 'blog:list' %}">Блог</a></li>
            {% if user.is_authenticated %}
                <li><a class="p-2 btn btn-outline-primary" href="{% url 'users:profile' %}">Профиль</a></li>
                <li><a class="p-2 btn btn-outline-primary" href="{% url 'users:logout' %}">Выйти</a></li>
            {% else %}
                <li><a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Войти</a></li>
                <li><a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a></li>
            {% endif %}
        </nav>
    </div>
    {% endblock %}