{% extends 'catalog/base_product.html' %}

{% load image_tag %}
{% block title %} О товаре {% endblock %}

{% block content %}
<div class="col-6">
    <div class="card shadow-sm">
        <img src="{% mymedia object.image %}" class="rounded mx-auto d-block" width="370" height="333">
        <div class="card-body">
            <h4><p class="card-text">{{ object.name }}</p></h4>
            <p class="card-text">Стоимость: {{ object.price }} р</p>
            <p class="card-text">Описание: {{ object.description }}</p>
            <p class="card-text">Версия: {{ object.active_versions }}</p>
        </div>
    </div>
</div>
{% endblock %}