{% extends 'catalog/base_product.html' %}

{% load image_tag %}

{% block content %}
<div class="col">
    <div class="card shadow-sm">
        <img class="card-img-top"
             src="{% mymedia object_list.image %}">
        <div class="card-body">
            <h4><p class="card-text">{{ object_list.name }}</p></h4>
            <p class="card-text">Стоимость: {{ object_list.price }} р</p>
            <p class="card-text">Описание: {{ object_list.description | truncatechars:100}}</p>
        </div>
    </div>
</div>
</div>
{% endblock %}